form {
  width: 100%;
}

.form-item {
  @extend .h-flex;
  // gap: 0;

  + .form-item {
    margin-top: 2rem;
  }

  label {
    font-size: 2rem;

    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
  }

  input,
  select,
  textarea {
    border: 1px solid var(--color-border);
    min-height: 40px;
    transition: 100ms all;
    font-size: 2rem;

    &.error {
      border-color: var(--color-red);
    }
  }

  input:not([type='checkbox']),
  select,
  textarea {
    padding: 1rem;
    background-color: transparent;
    width: 100%;
  }

  input:not([type='checkbox']),
  textarea {
    vertical-align: middle;

    &:focus {
      background-color: var(--color-primary);
    }
  }

  input[type='checkbox'] {
    border: 0;
    background-color: transparent;
    width: 40px;
    height: 0;
    position: relative;

    &:before {
      content: '';
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border: 1px solid var(--color-border);
      background-color: var(--color-background);
    }

    &:focus {
      &,
      &:checked {
        &:before {
          background-color: var(--color-primary);
        }
      }
    }
    
    &:checked {
      &:before {
        content: '✔';
        position: absolute;
        font-size: 4rem;
      }
    }
  }
}
