@mixin padding-section {
  padding: 20rem 4rem;

  @media (max-width: 768px) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  @media (max-width: 480px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
